# Build results
bin/
obj/

# User-specific files
*.suo
*.dll

# Configuration files
*.config
*.user
*.prefs

#Ignore SQLite database files
*.sqlite
*.sqlite3

# Ignore Visual Studio files
.vs/
.idea/
.vscode/

# Temporary files
*.log
*.tmp
*.bak
*.swp

# NuGet package files
/packages/